.AiPage {
    display: flex;
    height: calc(100vh - var(--nav-height));
}

aside {
    background-color: var(--secondary-dark);
    width: 250px;
    flex-shrink: 0;
    display: flex;
    position: static;
    flex-flow: column nowrap;
}

h3 {
    margin: 0;
    padding: 20px 0;
    text-align: center;
}

.conversations {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    overflow-y: auto;
}

main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex-grow: 1;
    overflow-y: auto;
}

#conversation {
    /* display: flex;
    flex-direction: column; */
    flex-grow: 1;
    margin: 0 100px;
    max-width: 60vw;
    text-align: justify;
}

.inputContainer {
    background-color: var(--dark);
    height: 150px;
    margin: 20px 0;
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    align-items: start;
    justify-content: space-between;
    gap: 10px;
    border-radius: 20px;
}

.inputContainer #textbox {
    width: 700px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    color: whitesmoke;
    background-color: transparent;
    border: none;
    outline: none;
    overflow-y: auto;
    resize: none;
    flex-grow: 1;

    scrollbar-width: thin;
    scrollbar-color: var(--accent-dark) transparent;
    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--accent);
        border-radius: 4px;
    }
}

.options {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 15px;
}

.options #send {
    background-color: var(--light-dark);
    color: whitesmoke;
    border: none;
    /* padding: 10px; */
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 200;
    cursor: pointer;
    transition: background-color 0.3s;
}

.options .modelSelect {
    background-color: var(--light-dark);
    color: whitesmoke;
    border: none;
    min-width: 150px;
    text-align: center;
    padding: 7px 15px;
    border-radius: 10px;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s;
}

.options #send:hover,
.options .modelSelect:hover,
.options #models #model:hover {
    background-color: var(--accent-dark);
}

.options .modelText {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

#modelList {
    min-width: 300px;
    /* min-height: 300px; */
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    position: absolute;
    transform: translate(-5px, -120px);
    background-color: var(--secondary-light-dark);
    padding: 15px;
    border-radius: 15px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s;
}

#modelList .model {
    height: 40px;
    background: transparent;
    border: 1px solid #5f5f5f;
    border-radius: 7px;
    padding: 0 15px;
    color: whitesmoke;
    cursor: pointer;
    transition: all 0.3s;
}

#modelList .model:hover {
    background-color: var(--light-dark);
}

.modelText > span.modelSize {
    font-size: 0.8em;
    font-weight: 200;
    opacity: 0.5;
}
