body {
    --gameWidth: 748px; /* gameCoverResWidth(374) * 2 */
    --gameHeight: 149px; /* gameCoverResHeight(374) / 3 */
}

.title {
    margin: 80px 0 0;
    font-size: 60px;
}

.filterAndUserPickerForm {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.filters {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 5px;
}

.filters label {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    width: 100%;
    text-align: right;
    cursor: text;
    word-spacing: 5px;
}

.filters input {
    margin-right: 5px;
    background-color: rgb(50, 50, 50);
    color: whitesmoke;
    padding: 5px 7px;
    border-color: var(--accent);
    border-radius: 10px;
}

.filterAndUserPickerForm button[type='submit'] {
    background-color: rgb(50, 50, 50);
    color: whitesmoke;
    padding: 4px 8px;
    border-color: var(--accent);
    border-radius: 7px;
}

.games {
    display: grid;
    grid-template-columns: repeat(auto-fill, max(var(--gameWidth)));
    margin-inline: 50px;
    grid-gap: 25px;
    justify-content: center;
}

.game {
    width: var(--gameWidth);
    height: var(--gameHeight);
}

.gameCover {
    width: var(--gameWidth);
    height: var(--gameHeight);
    object-fit: cover;
}

.gameLogo {
    position: absolute;
    margin: 7px;
    max-width: calc(var(--gameWidth) / 2);
    max-height: calc(var(--gameHeight) - 14px); /* 14px for the margin (top and bottom)*/
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.gameLogoText {
    position: absolute;
    margin: 15px;
    padding: 0 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    width: calc(var(--gameWidth) - 30px); /* 30px for the margin (left and right) */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fade {
    position: absolute;
    height: var(--gameHeight);
    width: var(--gameWidth);
    visibility: hidden;
}

form[class='gameForm'] {
    position: relative;
    bottom: 50px;
}

.playButton {
    position: relative;
    bottom: 10px;
    left: calc(var(--gameWidth) - 60px);
    font-family: 'ZCOOL QingKe HuangYou', sans-serif;
    font-size: 25px;
    background-color: #11c019;
    border: none;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    z-index: 2;
    cursor: pointer;
    /* transition: all 0.2s ease-in-out; */
}

.playButtonHovered {
    left: 0px;
    width: var(--gameWidth);
    height: 65px;
}

.playGraphic {
    stroke: transparent;
    stroke-width: 0px;
    vertical-align: text-top;
}

.btn-primary {
    --bs-btn-bg: #11c019 !important;
    --bs-btn-border-color: #048d0b !important;
    --bs-btn-hover-bg: #10af18 !important;
    --bs-btn-hover-border-color: #047c0a !important;
    --bs-btn-active-bg: #078d0d !important;
    --bs-btn-active-border-color: #046e09 !important;
}
