body {
	--gameWidth: 374px;
	--gameHeight: 448px;
}

.title {
	margin: 20px;
	font-size: 60px;
}

.games {
	display: grid;
	grid-template-columns: repeat(auto-fill, max(var(--gameWidth)));
	margin: 50px;

	justify-content: space-evenly;
}

.gameCover {
	width: var(--gameWidth);
	height: var(--gameHeight);
}

.playButton {
	position: relative;
	bottom: 30px;
}

input {
	width: 100%;
}
