body {
	--gameWidth: 340px; /* gameCoverResWidth(374) / 1.1 */
	--gameHeight: 407px; /* gameCoverResWidth(448) / 1.1 */
}

.title {
	margin: 20px;
	font-size: 60px;
}

.games {
	display: grid;
	grid-template-columns: repeat(auto-fill, max(var(--gameWidth)));
	margin-inline: 50px;
	grid-gap: 25px;
	justify-content: center;
}

.game {
	height: var(--gameHeight);
}

.gameCover {
	position: relative;
	bottom: var(--gameHeight);
	width: var(--gameWidth);
	height: var(--gameHeight);
	object-fit: scale-down;
}

.gameCoverBackground {
	z-index: -1;
	width: var(--gameWidth);
	height: var(--gameHeight);
	filter: blur(10px);
	object-fit: cover;
}

form {
	position: relative;
	bottom: 50px;
}

.playButton {
	position: relative;
	bottom: calc(10px + var(--gameHeight));
	left: calc(var(--gameWidth) - 60px);
	width: 50px;
	height: 50px;
	z-index: 1;
}

.playButton:hover {
	left: 0px;
	width: var(--gameWidth);
	height: 65px;
}

.btn-primary {
	--bs-btn-bg: #11c019 !important;
	--bs-btn-border-color: #048d0b !important;
	--bs-btn-hover-bg: #10af18 !important;
	--bs-btn-hover-border-color: #047c0a !important;
	--bs-btn-active-bg: #078d0d !important;
	--bs-btn-active-border-color: #046e09 !important;
}
