* {
    --accent: aquamarine;
    --accent-dark: #345e50;
    --dark: #191919;
    --secondary-dark: #131313;
    --light-dark: #323232;

    box-sizing: border-box;
}

body {
    background-color: var(--light-dark);
    color: whitesmoke;
    margin: 0;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

h1 {
    font-family: 'Secular One', sans-serif;
    font-size: 90px;
}

.title {
    margin: 10px 0;
}

p {
    font-family: 'Ropa Sans', sans-serif;
    font-size: large;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

.subtitle {
    font-size: 17px;
    margin-top: 0px;
    color: gray;
}
