* {
	--accent: aquamarine;
	box-sizing: border-box;
}

body {
	background-color: rgb(50, 50, 50);
	color: whitesmoke;
	margin: 0;
}

h1 {
	font-family: 'Secular One', sans-serif;
	font-size: 90px;
}

p {
	font-family: 'Ropa Sans', sans-serif;
	font-size: large;
}

.visible {
	visibility: visible;
}

.invisible {
	visibility: hidden;
}

.subtitle {
	font-size: 17px;
	margin-top: 0px;
	color: gray;
}