/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

body {
	--accent: aquamarine;

	background-color: rgb(50, 50, 50);
	color: whitesmoke;
	margin: 0;
}

h1 {
	font-family: 'Secular One', sans-serif;
	font-size: 90px;
}

p {
	font-family: 'Ropa Sans', sans-serif;
	font-size: large;
}

.visible {
	visibility: visible;
}

.invisible {
	visibility: hidden;
}
